@font-face
	font-family 'Open Sans'
	src url('/font/OpenSans-Regular.ttf')

bg = #242424

darkbg = #282828
mediumbg = #2c2c2c
lightbg = #303030

darkfg = #c0c0c0
mediumfg = #e0e0e0
lightfg = #f0f0f0

bluefg = #29c596

headerheight = 42px
toolbarheight = 32px

topicwidth = 20%

headerborder = 2px
toolbarborder = 2px

transition()
	-webkit-transition arguments
	-khtml-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

user-select()
	-webkit-touch-callout arguments
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

html, body
	margin 0 auto
	padding 0
	background bg


*
	outline none
	font-family 'Open Sans', Helvetica, sans-serif
	transition .1s
	box-sizing border-box
	text-shadow 0 0 3px #111

	&:active
		transition .05s ease-in

a
	text-decoration none

#header
	position absolute
	top 0
	left 0
	right 0
	height headerheight
	background bg
	border-bottom headerborder solid bg

	> a
		float right
		color darkfg
		background darkbg
		border 0
		border-left 1px solid bg
		height 100%
		line-height 20px
		padding 10px
		font-size 13px

		&:hover
			background mediumbg

		&:active
			background bg


#toolbar
	position absolute
	top headerheight
	left 0
	right 0
	height toolbarheight
	background darkbg
	border-bottom toolbarborder solid mediumbg

	> *
		float right
		color mediumfg
		background mediumbg
		border 0
		border-left 1px solid darkbg

		&:hover
			background lightbg

		&:active
			background darkbg

#topicbar
	position absolute
	top headerheight + toolbarheight
	left 0
	bottom 0
	width topicwidth
	background darkbg
	overflow hidden

#topicport
	height 100%
	width 100%
	overflow auto

#content
	position absolute
	top headerheight + toolbarheight
	left topicwidth
	right 0
	bottom 0
	background lightbg
	overflow hidden

#contentport
	height 100%
	width 100%
	overflow auto

#submit
	height 100%
	width 80px
	padding 10px
	line-height 10px

#search
	height 100%
	width 221px
	padding 10px

.article
	height 100%
	width 100%
	padding 20px
	color lightfg
	overflow auto

.topicnode
	width 100%
	height 40px
	padding 5px
	line-height 30px
	background mediumbg
	color bluefg
	user-select none
	cursor default
	font-size 16px
	overflow hidden

	&:hover, &.selected
		background lightbg
