@font-face
	font-family 'Open Sans'
	src url('/font/OpenSans-Regular.ttf')

bg = #242424

darkbg = #282828
mediumbg = #2c2c2c
lightbg = #303030

darkfg = #c0c0c0
mediumfg = #e0e0e0
lightfg = #f0f0f0

bluefg = #29c596

headerinner = 40px
toolbarinner = 30px

headerborder = 2px
toolbarborder = 2px

headerheight = headerinner + headerborder
toolbarheight = toolbarinner + toolbarborder

topicwidth = 20%

transition()
	-webkit-transition arguments
	-khtml-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

user-select()
	-webkit-touch-callout arguments
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

html, body
	margin 0 auto
	padding 0
	background bg


*
	outline none
	box-sizing border-box

#wrapper *, .render, .form > *
	font-family 'Open Sans', Helvetica, sans-serif
	text-shadow 0 0 3px #111
	transition .1s

	&:active
		transition .02s ease-in
a
	text-decoration none

#header
	position absolute
	top 0
	left 0
	right 0
	height headerheight
	background bg
	border-bottom headerborder solid bg

	> a
		float right
		color darkfg
		background darkbg
		border 0
		border-left 1px solid bg
		height 100%
		line-height 20px
		padding 10px
		font-size 13px

		&:hover
			background mediumbg

		&:active
			background bg


#toolbar
	position absolute
	top headerheight
	left 0
	right 0
	height toolbarheight
	background darkbg
	border-bottom toolbarborder solid mediumbg

	button
		width 80px
		line-height 10px

	> *
		float right
		color mediumfg
		background mediumbg
		border 0
		border-left 1px solid darkbg
		height 100%
		padding 10px

		&:hover
			background lightbg

		&:active
			background darkbg

#topicbar
	position absolute
	top headerheight + toolbarheight
	left 0
	bottom 0
	width topicwidth
	background darkbg
	overflow hidden

#topicport
	height 100%
	width 100%
	overflow auto

#content
	position absolute
	top headerheight + toolbarheight
	left topicwidth
	right 0
	bottom 0
	background lightbg
	overflow hidden

#contentport
	height 100%
	width 100%
	overflow auto

#search
	width 221px

.article
	height 100%
	width 100%

	button
		width 80px
		line-height 10px
		color darkfg
		background darkbg
		border 0
		padding 10px

		&:hover
			background mediumbg

		&:active
			background bg

.article, .render
	padding 20px
	color lightfg
	overflow-y scroll
	word-wrap break-word

.topicnode
	width 100%
	height 40px
	padding 5px
	line-height 30px
	background mediumbg
	color bluefg
	user-select none
	cursor default
	font-size 16px
	overflow hidden

	&:hover, &.selected
		background lightbg

#modal
	background rgba(0, 0, 0, .5)
	position fixed
	top 0
	left 0
	right 0
	bottom 0

#edit
	position absolute
	top 10%
	left 10%
	right 10%
	bottom 10%
	overflow hidden

	.wrap
		position absolute
		top 0
		left 0
		right 0
		bottom toolbarheight

		.editwrap, .render
			position absolute
			top 0
			bottom 0

		.editwrap
			left 0
			right 50%
			z-index 1

		.render
			left 50%
			right 0
			background bg
			z-index 2
			overflow-y scroll

		.CodeMirror
			height 100%


	.form
		position absolute
		left 0
		right 0
		bottom 0
		height toolbarheight
		border-top toolbarborder solid darkbg

		> *
			color mediumfg
			background mediumbg
			border 0
			height 100%
			padding 10px

			&:not(:first-child)
				border-left 1px solid darkbg

			&:hover
				background lightbg

			&:active
				background darkbg

		.title
			width calc(100% - 80px)

		.submit
			width 80px
			line-height 10px
