doctype html
html
	head
		title rhdp
		link(rel='icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/rhdp.css')
		link(rel='stylesheet', href='/css/codemirror.css')
		link(rel='stylesheet', href='/css/base16-dark.css')
		script(src='/js/jquery.js')
		script(src='/js/socket.io.js')
		script(src='/js/can.js')
		script(src='/js/marked.js')
		script(src='/js/templates.js')
		script(src='/js/jquery.mousewheel.js')
		script(src='/js/smooth.js')
		script(src='/js/escrow.js')
		script(src='/js/codemirror-md.js')
		block head
	body
		block content
