doctype html
html
	head
		title rhdp
		link(rel='icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/rhdp.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
		script(src='/js/jquery.js')
		script(src='/js/socket.io.js')
		script(src='/js/templates.js')
		block head
	body
		block content
