extends base

block head
	script(src='/js/index.js')

block content
	#header
		a(href='https://github.com/rhdp/rhdp', target='_blank') Github
		a(href='http://systemic.io:8080', target='_blank') BBS
		a(href='http://www.pokecommunity.com/showthread.php?p=8499930', target='_blank') PC
	#toolbar
		input#search(placeholder='Search')
		button#submit Submit
	#topicbar
	#content
